<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
<div>This is the header</div>
<div>
    <h1>This is the about page</h1>
   <%= link_to 'Home', root_path %>

</div>

<div>This is the footer</div>
</body>
</html>