<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<div>
    <h1>This is the home page</h1>
  <%= link_to "Alpha Blog", articles_path %> |
   <%= link_to 'About', about_path %>

</div>


</body>
</html>