<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div style="background-color: #666666">This is the header</div>
<div>
    <h1>This is the home page</h1>
   <%= link_to 'About', about_path %>
  <%= link_to image_tag('round-face-24px.svg'), 'www.parkerneff.com' %>

</div>

<div>This is the footer</div>
</body>
</html>